@font-face {
  font-family: Agrandir-Thin;
  src: url("../fonts/Agrandir-Thin.otf") format("opentype");
}
@font-face {
  font-family: Agrandir-Regular;
  src: url("../fonts/Agrandir-Regular.otf") format("opentype");
}
@font-face {
  font-family: Helvetica;
  src: url("../fonts/Helvetica.woff");
}
@font-face {
  font-family: main-font;
  src: url("../fonts/Main-Font.woff2");
}
:root {
  --banner-max-height: 100vh;
  --banner-min-height: 600px;
  --gradient-height: 100%;
  --app-container-width: 1440px;
  --layered-background: #1c1c1c;
  --layered-primary-color: #1c1c1c;
  --layered-secondary-color: #ededf0;
  --app-color-light-grey: #f3f4f4;
  --layered-icon-size: 90px;
  --grid-card-width: 250px;
  --grid-card-gap: 16px;
  --app-color-dark-grey: #1c1c1c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica;
  scroll-behavior: smooth;
}

.one-column-layout {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
  width: 100%;
  margin: 0 auto;
  background: red;
}
.one-column-layout .main-placement-8 {
  grid-row: inherit;
}
.one-column-layout .one-column-layout-row {
  z-index: 1;
  background: #f3f4f4;
}
.one-column-layout .one-column-layout-row div div .FAQ-container {
  background-color: #fff;
  width: 100%;
  max-width: var(--app-container-width, 1440px);
  margin: 0 auto 20px;
  padding: 40px;
}
.one-column-layout .one-column-layout-row div div .FAQ-container .FAQ-content {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.one-column-layout .one-column-layout-row div div .FAQ-container .FAQ-content .FAQ-title {
  font-family: Helvetica;
  font-weight: 400;
  margin-bottom: 28px;
  font-size: 24px;
}
.one-column-layout .one-column-layout-row div div .FAQ-container .FAQ-content .accordion-main {
  margin-bottom: 39px;
  width: 100%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.one-column-layout .one-column-layout-row div div .FAQ-container .FAQ-content .accordion-main .accordion-fullWidth {
  max-width: 100%;
}
.one-column-layout .one-column-layout-row div div .FAQ-container .FAQ-content .accordion-main .accordion-fullWidth .accordion-content-wrapper {
  border-bottom: 1px solid var(--app-color-dark-grey);
  transition: all 0.4s ease-in-out 0s;
  margin-top: 5px;
}
.one-column-layout .one-column-layout-row div div .FAQ-container .FAQ-content .accordion-main .accordion-fullWidth .accordion-content-wrapper .accordion-header {
  font-size: 20px;
  user-select: none;
  padding: 0px 15px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  right: 0px;
  color: #000;
}
.one-column-layout .one-column-layout-row div div .FAQ-container .FAQ-content .accordion-main .accordion-fullWidth .accordion-content-wrapper .accordion-header p {
  padding-right: 1rem;
  color: #000;
  line-height: 1.2;
  font-weight: 300;
}
.one-column-layout .one-column-layout-row div div .FAQ-container .FAQ-content .accordion-main .accordion-fullWidth .accordion-content-wrapper .accordion-header .accordion-icon {
  position: relative;
  min-width: 12px;
  min-height: 12px;
}
.one-column-layout .one-column-layout-row div div .FAQ-container .FAQ-content .accordion-main .accordion-fullWidth .accordion-content-wrapper .accordion-header .accordion-icon .accordion-one {
  width: 12px;
  height: 1px;
  top: 50%;
  transform: translateY(-50%);
}
.one-column-layout .one-column-layout-row div div .FAQ-container .FAQ-content .accordion-main .accordion-fullWidth .accordion-content-wrapper .accordion-header .accordion-icon .accordion-line {
  background-color: var(--app-color-dark-grey);
  position: absolute;
  transition: transform 0.25s ease-in-out;
}
.one-column-layout .one-column-layout-row div div .FAQ-container .FAQ-content .accordion-main .accordion-fullWidth .accordion-content-wrapper .accordion-header .accordion-icon .accordion-two {
  width: 1px;
  height: 12px;
  left: 50%;
  transform: translateX(-50%);
}
.one-column-layout .one-column-layout-row div div .FAQ-container .FAQ-content .accordion-main .accordion-fullWidth .accordion-content-wrapper .accordion-collapse-style {
  height: 0px;
}
.one-column-layout .one-column-layout-row div div .FAQ-container .FAQ-content .accordion-main .accordion-fullWidth .accordion-content-wrapper .accordion-hide {
  opacity: 0;
  user-select: none;
  margin-top: 9px;
}
.one-column-layout .one-column-layout-row div div .FAQ-container .FAQ-content .accordion-main .accordion-fullWidth .accordion-content-wrapper .accordion-collapse {
  font-size: 16px;
  padding: 0 15px;
  margin: 20px 0px 5px;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.one-column-layout .one-column-layout-row div div .FAQ-container .FAQ-content .accordion-main .accordion-fullWidth .accordion-content-wrapper .accordion-collapse div div p {
  line-height: 1.2;
  font-weight: 300;
}
.one-column-layout .one-column-layout-row div div .FAQ-container .FAQ-content .accordion-main .accordion-fullWidth .accordion-content-wrapper .accordion-collapse div div p::before {
  margin-bottom: calc(-0.1875em + 2px);
  content: "";
  display: block;
  height: 0px;
  width: 0px;
}
.one-column-layout .one-column-layout-row div div .FAQ-container .FAQ-content .accordion-main .accordion-fullWidth .accordion-content-wrapper .accordion-collapse div div p::after {
  margin-top: calc(-0.25em - 2px);
  content: "";
  display: block;
  height: 0px;
  width: 0px;
}

/*# sourceMappingURL=eight-placement.css.map */
