@font-face {
  font-family: Agrandir-Thin;
  src: url("../fonts/Agrandir-Thin.otf") format("opentype");
}
@font-face {
  font-family: Agrandir-Regular;
  src: url("../fonts/Agrandir-Regular.otf") format("opentype");
}
@font-face {
  font-family: Helvetica;
  src: url("../fonts/Helvetica.woff");
}
@font-face {
  font-family: main-font;
  src: url("../fonts/Main-Font.woff2");
}
:root {
  --banner-max-height: 100vh;
  --banner-min-height: 600px;
  --gradient-height: 100%;
  --app-container-width: 1440px;
  --layered-background: #1c1c1c;
  --layered-primary-color: #1c1c1c;
  --layered-secondary-color: #ededf0;
  --app-color-light-grey: #f3f4f4;
  --layered-icon-size: 90px;
  --grid-card-width: 250px;
  --grid-card-gap: 16px;
  --app-color-dark-grey: #1c1c1c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica;
  scroll-behavior: smooth;
}

.one-column-layout {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
  width: 100%;
  margin: 0 auto;
  background: red;
}
.one-column-layout .main-placement-4 {
  grid-row: 4/4;
}
.one-column-layout .one-column-layout-row {
  z-index: 1;
  background: #f3f4f4;
}
.one-column-layout .one-column-layout-row div .three-static-card-dark {
  max-width: calc(var(--app-container-width) + 40px);
  padding: 0 20px;
  margin: 20px auto;
}
.one-column-layout .one-column-layout-row div .three-static-card-dark .card-long-text {
  font-family: Helvetica;
  font-size: 24px;
  margin-bottom: 16px;
}
.one-column-layout .one-column-layout-row div .three-static-card-dark .card-long-text p {
  font-weight: 500;
}
.one-column-layout .one-column-layout-row div .three-static-card-dark .three-card-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-card-width), 1fr));
  grid-gap: var(--grid-card-gap);
  gap: var(--grid-card-gap);
}
.one-column-layout .one-column-layout-row div .three-static-card-dark .three-card-main .card {
  transition: all 0.5s ease-in-out 0s;
  opacity: 1;
  transform: translateY(0px);
}
.one-column-layout .one-column-layout-row div .three-static-card-dark .three-card-main .static-dark-card:not(:last-of-type) {
  margin-right: 16px;
}
.one-column-layout .one-column-layout-row div .three-static-card-dark .three-card-main .dark-card-brown {
  background-color: #7f4006;
}
.one-column-layout .one-column-layout-row div .three-static-card-dark .three-card-main .static-dark-card::before {
  content: "";
  height: 1px;
  max-width: 50px;
  width: 100%;
  background-color: #fff;
  margin-bottom: 40px;
}
.one-column-layout .one-column-layout-row div .three-static-card-dark .three-card-main .static-dark-card::after {
  content: "";
  height: 1px;
  max-width: 50px;
  width: 100%;
  background-color: #fff;
  margin-top: 40px;
}
.one-column-layout .one-column-layout-row div .three-static-card-dark .three-card-main .static-dark-card {
  width: 100%;
  min-height: 400px;
  color: #fff;
  text-align: center;
  position: relative;
  padding: 20px 35px;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.one-column-layout .one-column-layout-row div .three-static-card-dark .three-card-main .static-dark-card div .static-card-header {
  font-size: 80px;
  font-family: Agrandir-Regular;
  font-weight: 300;
}
.one-column-layout .one-column-layout-row div .three-static-card-dark .three-card-main .static-dark-card div .static-dark-content {
  font-size: 24px;
  font-family: Helvetica;
  max-width: 315px;
  margin: auto;
}
.one-column-layout .one-column-layout-row div .three-static-card-dark .three-card-main .static-dark-card div .static-dark-content div p {
  font-weight: 300;
}

/*# sourceMappingURL=fourth-placement.css.map */
