@font-face {
  font-family: Agrandir-Thin;
  src: url("../fonts/Agrandir-Thin.otf") format("opentype");
}
@font-face {
  font-family: Agrandir-Regular;
  src: url("../fonts/Agrandir-Regular.otf") format("opentype");
}
@font-face {
  font-family: Helvetica;
  src: url("../fonts/Helvetica.woff");
}
@font-face {
  font-family: main-font;
  src: url("../fonts/Main-Font.woff2");
}
:root {
  --banner-max-height: 100vh;
  --banner-min-height: 600px;
  --gradient-height: 100%;
  --app-container-width: 1440px;
  --layered-background: #1c1c1c;
  --layered-primary-color: #1c1c1c;
  --layered-secondary-color: #ededf0;
  --app-color-light-grey: #f3f4f4;
  --layered-icon-size: 90px;
  --grid-card-width: 250px;
  --grid-card-gap: 16px;
  --app-color-dark-grey: #1c1c1c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica;
  scroll-behavior: smooth;
}

.one-column-layout {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
  width: 100%;
  margin: 0 auto;
  background: red;
}
.one-column-layout .main-placement-1 {
  grid-row: 1/1;
}
.one-column-layout .one-column-layout-row {
  background: #f3f4f4;
}
.one-column-layout .one-column-layout-row div .generic-row-banner {
  position: relative;
  width: 100%;
  height: 100%;
}
.one-column-layout .one-column-layout-row div .generic-row-banner .banner-wrapper {
  width: 100%;
  height: 100vh;
  min-height: var(--banner-min-height);
  max-height: var(--banner-max-height);
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 100%;
  position: relative;
}
.one-column-layout .one-column-layout-row div .generic-row-banner .banner-dark {
  color: #fff;
}
.one-column-layout .one-column-layout-row div .generic-row-banner .banner-dark .banner-background {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  user-select: none;
  pointer-events: none;
  background: red;
}
.one-column-layout .one-column-layout-row div .generic-row-banner .banner-dark .background {
  transition: all 2s ease-in-out 0s;
  transform: scale(1);
}
.one-column-layout .one-column-layout-row div .generic-row-banner .banner-dark .background .background-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: green;
}
.one-column-layout .one-column-layout-row div .generic-row-banner .banner-dark .background .background-wrapper .image-holder {
  display: block;
  overflow: hidden;
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  margin: 0px;
  background: red;
}
.one-column-layout .one-column-layout-row div .generic-row-banner .banner-dark .background .background-wrapper .image-holder img {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}
.one-column-layout .one-column-layout-row div .generic-row-banner .banner-dark .banner-gradient {
  width: 50%;
  height: 100%;
  position: absolute;
  display: flex;
  z-index: 1;
}
.one-column-layout .one-column-layout-row div .generic-row-banner .banner-dark .banner-gradient .gradient1 {
  opacity: 1;
  background-color: rgb(78, 46, 19);
  width: 20px;
  flex: 1 1;
}
.one-column-layout .one-column-layout-row div .generic-row-banner .banner-dark .banner-gradient .gradient2 {
  opacity: 0.9;
  background-color: rgb(78, 46, 19);
  width: 20px;
  flex: 1 1;
}
.one-column-layout .one-column-layout-row div .generic-row-banner .banner-dark .banner-gradient .gradient3 {
  opacity: 0.75;
  background-color: rgb(78, 46, 19);
  width: 20px;
  flex: 1 1;
}
.one-column-layout .one-column-layout-row div .generic-row-banner .banner-dark .banner-gradient .gradient4 {
  opacity: 0.6;
  background-color: rgb(78, 46, 19);
  width: 20px;
  flex: 1 1;
}
.one-column-layout .one-column-layout-row div .generic-row-banner .banner-dark .banner-gradient .gradient5 {
  opacity: 0.45;
  background-color: rgb(78, 46, 19);
  width: 20px;
  flex: 1 1;
}
.one-column-layout .one-column-layout-row div .generic-row-banner .banner-dark .banner-gradient .gradient6 {
  opacity: 0.3;
  background-color: rgb(78, 46, 19);
  width: 20px;
  flex: 1 1;
}
.one-column-layout .one-column-layout-row div .generic-row-banner .banner-dark .banner-gradient .gradient7 {
  opacity: 0.2;
  background-color: rgb(78, 46, 19);
  width: 20px;
  flex: 1 1;
}
.one-column-layout .one-column-layout-row div .generic-row-banner .banner-dark .banner-gradient .gradient8 {
  opacity: 0.1;
  background-color: rgb(78, 46, 19);
  width: 20px;
  flex: 1 1;
}
.one-column-layout .one-column-layout-row div .generic-row-banner .banner-dark .content-left-bottom {
  align-items: flex-start;
  justify-content: flex-end;
  text-align: left;
  padding: 0 20px 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 90%;
  max-width: calc(var(--app-container-width) + 40px);
  margin: auto;
  z-index: 2;
}
.one-column-layout .one-column-layout-row div .generic-row-banner .banner-dark .content-left-bottom .banner-content-logo {
  position: relative;
  width: fit-content;
  height: fit-content;
  max-width: 500px;
}
.one-column-layout .one-column-layout-row div .generic-row-banner .banner-dark .content-left-bottom .banner-content-logo img {
  max-width: 100%;
  display: block;
}
.one-column-layout .one-column-layout-row div .generic-row-banner .banner-dark .content-left-bottom .banner-content-space {
  height: 32px;
}
.one-column-layout .one-column-layout-row div .generic-row-banner .banner-dark .content-left-bottom h1 {
  text-transform: uppercase;
  max-width: fit-content;
  font-family: Agrandir-Thin;
  font-weight: 300;
  font-size: 48px;
}
.one-column-layout .one-column-layout-row div .generic-row-banner .banner-dark .content-left-bottom .banner-button {
  margin-top: 5px;
}
.one-column-layout .one-column-layout-row div .generic-row-banner .banner-dark .content-left-bottom .banner-button .square-button {
  height: 44px;
  text-transform: uppercase;
  min-width: 81px;
  cursor: pointer;
  font-size: 14px;
  outline: none;
  padding: 0 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}
.one-column-layout .one-column-layout-row div .generic-row-banner .banner-dark .content-left-bottom .banner-button .square-button svg {
  margin-right: 0.5em;
  stroke-width: 1px;
  flex-shrink: 0;
}
.one-column-layout .one-column-layout-row div .generic-row-banner .banner-dark .content-left-bottom .banner-button .square-button .banner-label {
  font-family: Helvetica;
  padding-top: 6px;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  bottom: 1px;
}
.one-column-layout .one-column-layout-row div .generic-row-banner .banner-dark .content-left-bottom .banner-button .square-button .banner-label sup {
  font-size: 0.7em;
  position: relative;
  line-height: 0;
}
.one-column-layout .one-column-layout-row div .generic-row-banner .banner-dark .content-left-bottom .long-text {
  font-family: Helvetica;
  line-height: 14px;
  letter-spacing: -0.05px;
  font-size: 10px;
  color: #fff;
  position: absolute;
  right: -75px;
  transform: rotate(270deg);
}
.one-column-layout .one-column-layout-row div .generic-row-banner .banner-dark .content-left-bottom a .icon-arrow-bottom {
  bottom: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.one-column-layout .one-column-layout-row div .generic-row-banner .banner-dark .content-left-bottom a .icon-arrow {
  cursor: pointer;
  height: fit-content;
}

/*# sourceMappingURL=placement-one.css.map */
