@font-face {
  font-family: Agrandir-Thin;
  src: url("../fonts/Agrandir-Thin.otf") format("opentype");
}
@font-face {
  font-family: Agrandir-Regular;
  src: url("../fonts/Agrandir-Regular.otf") format("opentype");
}
@font-face {
  font-family: Helvetica;
  src: url("../fonts/Helvetica.woff");
}
@font-face {
  font-family: main-font;
  src: url("../fonts/Main-Font.woff2");
}
:root {
  --banner-max-height: 100vh;
  --banner-min-height: 600px;
  --gradient-height: 100%;
  --app-container-width: 1440px;
  --layered-background: #1c1c1c;
  --layered-primary-color: #1c1c1c;
  --layered-secondary-color: #ededf0;
  --app-color-light-grey: #f3f4f4;
  --layered-icon-size: 90px;
  --grid-card-width: 250px;
  --grid-card-gap: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: main-font;
}

.one-column-layout {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
  width: 100%;
  margin: 0 auto;
  background: red;
}
.one-column-layout .main-placement-6 {
  grid-row: inherit;
}
.one-column-layout .one-column-layout-row {
  z-index: 1;
  background: #f3f4f4;
}
.one-column-layout .one-column-layout-row div .two-column-drive-banner {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  margin-top: 80px;
  margin-bottom: 50px;
}
.one-column-layout .one-column-layout-row div .two-column-drive-banner .column-drive-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.one-column-layout .one-column-layout-row div .two-column-drive-banner .column-drive-container .column-drive-title {
  font-family: Agrandir-Regular;
  font-size: 28px;
  font-weight: 400;
  color: #1c1c1c;
  line-height: 32px;
  text-align: center;
}
.one-column-layout .one-column-layout-row div .two-column-drive-banner .column-drive-container .column-drive-subTitle {
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.1px;
  line-height: 28px;
  color: #1c1c1c;
  text-align: center;
}
.one-column-layout .one-column-layout-row div .two-column-drive-banner .column-drive-container .column-drive-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-gap: 16px;
  margin-top: 40px;
}
.one-column-layout .one-column-layout-row div .two-column-drive-banner .column-drive-container .column-drive-grid div .column-drive-box {
  height: 242px;
  position: relative;
  overflow: hidden;
  background: #fff;
}
.one-column-layout .one-column-layout-row div .two-column-drive-banner .column-drive-container .column-drive-grid div .column-drive-box .three-lens {
  height: 242px;
  width: 242px;
  margin: 0 auto;
}
.one-column-layout .one-column-layout-row div .two-column-drive-banner .column-drive-container .column-drive-grid div .column-drive-box img {
  max-width: 100%;
  display: block;
}
.one-column-layout .one-column-layout-row div .two-column-drive-banner .column-drive-container .column-drive-grid div .column-drive-text {
  text-align: left;
}
.one-column-layout .one-column-layout-row div .two-column-drive-banner .column-drive-container .column-drive-grid div .column-drive-text h2 {
  text-transform: uppercase;
  font-family: Agrandir-Regular;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  color: #1c1c1c;
  margin-top: 29px;
}
.one-column-layout .one-column-layout-row div .two-column-drive-banner .column-drive-container .column-drive-grid div .column-drive-text h3 {
  margin-top: 16px;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.08px;
  line-height: 22px;
  color: #1c1c1c;
  padding-right: 5px;
  position: relative;
  max-width: 610px;
  min-width: 610px;
}
.one-column-layout .one-column-layout-row div .two-column-drive-banner .column-drive-container .column-drive-grid div .column-drive-text h3 div p {
  font-weight: 300;
}
.one-column-layout .one-column-layout-row div .two-column-drive-banner .column-drive-container .column-drive-grid div .column-drive-text h3 .default-image {
  position: absolute;
  bottom: -12px;
  right: 200px;
}
.one-column-layout .one-column-layout-row div .two-column-drive-banner .column-drive-container .column-drive-grid div .column-drive-text h3 img {
  max-width: 100%;
  display: block;
}
.one-column-layout .one-column-layout-row div .two-column-drive-banner .column-drive-container .column-drive-grid div .column-drive-box {
  height: 242px;
  position: relative;
  overflow: hidden;
  background: #fff;
}
.one-column-layout .one-column-layout-row div .two-column-drive-banner .column-drive-container .column-drive-grid div .column-drive-box .sun-glass {
  height: 365px;
  width: 360px;
  object-fit: none;
  margin: 0 auto;
}
.one-column-layout .one-column-layout-row div .two-column-drive-banner .column-drive-container .column-drive-grid div .column-drive-box img {
  max-width: 100%;
  display: block;
}
.one-column-layout .one-column-layout-row div .two-column-drive-banner .column-drive-container .column-drive-grid div .column-drive-text {
  text-align: left;
}
.one-column-layout .one-column-layout-row div .two-column-drive-banner .column-drive-container .column-drive-grid div .column-drive-text h2 {
  text-transform: uppercase;
  font-family: Agrandir-Regular;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  color: #1c1c1c;
  margin-top: 29px;
}
.one-column-layout .one-column-layout-row div .two-column-drive-banner .column-drive-container .column-drive-grid div .column-drive-text h3 {
  margin-top: 16px;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.08px;
  line-height: 22px;
  color: #1c1c1c;
  padding-right: 5px;
  position: relative;
  max-width: 610px;
  min-width: 610px;
}
.one-column-layout .one-column-layout-row div .two-column-drive-banner .column-drive-container .column-drive-grid div .column-drive-text h3 div p {
  font-weight: 300;
}
.one-column-layout .one-column-layout-row div .two-column-drive-banner .column-drive-container .column-drive-grid div .column-drive-text h3 .default-image {
  position: absolute;
  bottom: -12px;
  right: 200px;
}
.one-column-layout .one-column-layout-row div .two-column-drive-banner .column-drive-container .column-drive-grid div .column-drive-text h3 img {
  max-width: 100%;
  display: block;
}

/*# sourceMappingURL=sixth-placement.css.map */
