@font-face {
  font-family: Agrandir-Thin;
  src: url("../fonts/Agrandir-Thin.otf") format("opentype");
}
@font-face {
  font-family: Agrandir-Regular;
  src: url("../fonts/Agrandir-Regular.otf") format("opentype");
}
@font-face {
  font-family: Helvetica;
  src: url("../fonts/Helvetica.woff");
}
@font-face {
  font-family: main-font;
  src: url("../fonts/Main-Font.woff2");
}
:root {
  --banner-max-height: 100vh;
  --banner-min-height: 600px;
  --gradient-height: 100%;
  --app-container-width: 1440px;
  --layered-background: #1c1c1c;
  --layered-primary-color: #1c1c1c;
  --layered-secondary-color: #ededf0;
  --app-color-light-grey: #f3f4f4;
  --layered-icon-size: 90px;
  --grid-card-width: 250px;
  --grid-card-gap: 16px;
  --app-color-dark-grey: #1c1c1c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica;
}

.one-column-layout {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
  width: 100%;
  margin: 0 auto;
  background: red;
}
.one-column-layout .main-placement-3 {
  grid-row: 3/3;
}
.one-column-layout .one-column-layout-row {
  z-index: 1;
  background: #f3f4f4;
}
.one-column-layout .one-column-layout-row div .two-layer-card-main {
  overflow: hidden;
}
.one-column-layout .one-column-layout-row div .two-layer-card-main .card-light-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  gap: 16px;
  max-width: calc(var(--app-container-width) + 40px);
  margin: 20px auto;
}
@media (max-width: 1440px) {
  .one-column-layout .one-column-layout-row div .two-layer-card-main .card-light-wrapper {
    padding: 20px 0;
  }
}
.one-column-layout .one-column-layout-row div .two-layer-card-main .card-light-wrapper div .layer-wrapper {
  min-height: 430px;
}
.one-column-layout .one-column-layout-row div .two-layer-card-main .card-light-wrapper div .layer-banner-wrapper {
  height: 400px;
  position: relative;
  min-height: 430px;
}
.one-column-layout .one-column-layout-row div .two-layer-card-main .card-light-wrapper div .layer-banner-wrapper .second-layer {
  background: var(--layered-background);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.one-column-layout .one-column-layout-row div .two-layer-card-main .card-light-wrapper div .layer-banner-wrapper .second-layer-show {
  opacity: 1;
}
.one-column-layout .one-column-layout-row div .two-layer-card-main .card-light-wrapper div .layer-banner-wrapper .second-layer-hide {
  opacity: 0;
}
.one-column-layout .one-column-layout-row div .two-layer-card-main .card-light-wrapper div .layer-banner-wrapper .second-layer-hide .content-container {
  align-items: flex-start;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 20px);
  height: 160px;
  max-width: 400px;
  display: flex;
}
.one-column-layout .one-column-layout-row div .two-layer-card-main .card-light-wrapper div .layer-banner-wrapper .second-layer-hide .content-container .logo-wrapper {
  background: #fff;
  position: relative;
  max-width: 130px;
  width: 100%;
  height: 160px;
  padding: 20px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.one-column-layout .one-column-layout-row div .two-layer-card-main .card-light-wrapper div .layer-banner-wrapper .second-layer-hide .content-container .logo-wrapper .icon-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
.one-column-layout .one-column-layout-row div .two-layer-card-main .card-light-wrapper div .layer-banner-wrapper .second-layer-hide .content-container .logo-wrapper .icon-wrapper .image-wrapper {
  display: block;
  overflow: hidden;
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  margin: 0;
}
.one-column-layout .one-column-layout-row div .two-layer-card-main .card-light-wrapper div .layer-banner-wrapper .second-layer-hide .content-container .logo-wrapper .icon-wrapper .image-wrapper .image-sun-glass {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0;
  height: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: contain;
}
.one-column-layout .one-column-layout-row div .two-layer-card-main .card-light-wrapper div .layer-banner-wrapper .second-layer-hide .content-container .logo-wrapper .icon-wrapper .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-width: 100%;
  display: block;
}
.one-column-layout .one-column-layout-row div .two-layer-card-main .card-light-wrapper div .layer-banner-wrapper .second-layer-hide .content-container .layer-banner-content {
  padding: 0 20px;
  color: #fff;
  transition: 0.4s ease-in-out;
  min-width: 200px;
  height: 100%;
  user-select: none;
}
.one-column-layout .one-column-layout-row div .two-layer-card-main .card-light-wrapper div .layer-banner-wrapper .second-layer-hide .content-container .banner-content-show {
  opacity: 1;
  transform: translateY(0);
  display: flex;
  align-items: center;
}
.one-column-layout .one-column-layout-row div .two-layer-card-main .card-light-wrapper div .layer-banner-wrapper .second-layer-hide .content-container .banner-content-hide {
  opacity: 0;
  transform: translateY(-50%);
  align-items: center;
  display: flex;
}
.one-column-layout .one-column-layout-row div .two-layer-card-main .card-light-wrapper div .layer-banner-wrapper .second-layer-hide .content-container .banner-content-hide div div p {
  font-size: 16px;
  font-weight: 300;
}
.one-column-layout .one-column-layout-row div .two-layer-card-main .card-light-wrapper div .layer-banner-wrapper .first-layer-hide {
  opacity: 0;
}
.one-column-layout .one-column-layout-row div .two-layer-card-main .card-light-wrapper div .layer-banner-wrapper .first-layer-show {
  opacity: 1;
}
.one-column-layout .one-column-layout-row div .two-layer-card-main .card-light-wrapper div .layer-banner-wrapper .first-layer {
  position: relative;
  height: 100%;
  width: 100%;
  transition: 0.4s ease-in-out;
}
.one-column-layout .one-column-layout-row div .two-layer-card-main .card-light-wrapper div .layer-banner-wrapper .first-layer .background-image {
  position: relative;
  width: 100%;
  height: 100%;
}
.one-column-layout .one-column-layout-row div .two-layer-card-main .card-light-wrapper div .layer-banner-wrapper .first-layer .background-image .background-wrapper {
  display: block;
  overflow: hidden;
  position: absolute;
  inset: 0;
  box-sizing: border-box;
  margin: 0;
}
.one-column-layout .one-column-layout-row div .two-layer-card-main .card-light-wrapper div .layer-banner-wrapper .first-layer .background-image .background-wrapper .background-sun-with-glass {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}
.one-column-layout .one-column-layout-row div .two-layer-card-main .card-light-wrapper div .layer-banner-wrapper .first-layer .background-image .background-wrapper img {
  max-width: 100%;
  display: block;
}
.one-column-layout .one-column-layout-row div .two-layer-card-main .card-light-wrapper div .layer-banner-wrapper .first-layer .background-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.one-column-layout .one-column-layout-row div .two-layer-card-main .card-light-wrapper div .layer-banner-wrapper .first-layer .content-container {
  background: var(--app-color-light-grey);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 20px);
  height: 160px;
  max-width: 400px;
  display: flex;
  align-items: center;
}
.one-column-layout .one-column-layout-row div .two-layer-card-main .card-light-wrapper div .layer-banner-wrapper .first-layer .content-container .logo-wrapper {
  position: relative;
  max-width: 130px;
  width: 100%;
  height: 160px;
  background-color: #fff;
  padding: 20px;
  flex-shrink: 0;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.one-column-layout .one-column-layout-row div .two-layer-card-main .card-light-wrapper div .layer-banner-wrapper .first-layer .content-container .logo-wrapper .icon-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
.one-column-layout .one-column-layout-row div .two-layer-card-main .card-light-wrapper div .layer-banner-wrapper .first-layer .content-container .logo-wrapper .icon-wrapper .image-wrapper {
  display: block;
  overflow: hidden;
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  margin: 0px;
}
.one-column-layout .one-column-layout-row div .two-layer-card-main .card-light-wrapper div .layer-banner-wrapper .first-layer .content-container .logo-wrapper .icon-wrapper .image-wrapper .sun-with-glass {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: contain;
}
.one-column-layout .one-column-layout-row div .two-layer-card-main .card-light-wrapper div .layer-banner-wrapper .first-layer .content-container .logo-wrapper .icon-wrapper .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-width: 100%;
  display: block;
}
.one-column-layout .one-column-layout-row div .two-layer-card-main .card-light-wrapper div .layer-banner-wrapper .first-layer .content-container .layer-banner-content {
  padding: 20px;
}
.one-column-layout .one-column-layout-row div .two-layer-card-main .card-light-wrapper div .layer-banner-wrapper .first-layer .content-container .layer-banner-content h4 {
  font-size: 22px;
  font-family: Agrandir-Regular;
  line-height: 1.2;
  font-weight: 400;
}
.one-column-layout .one-column-layout-row div .two-layer-card-main .card-light-wrapper div .layer-banner-wrapper .state-icon-show {
  background: var(--layered-secondary-color);
  color: var(--layered-primary-color);
}
.one-column-layout .one-column-layout-row div .two-layer-card-main .card-light-wrapper div .layer-banner-wrapper .state-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 3;
  color: var(--layered-secondary-color);
  height: var(--layered-icon-size);
  width: var(--layered-icon-size);
  background-color: var(--layered-primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.one-column-layout .one-column-layout-row div .two-layer-card-main .card-light-wrapper div .layer-banner-wrapper .state-icon svg {
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  -moz-transition: transform 0.4s ease-in-out, -moz-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out, -moz-transform 0.4s ease-in-out;
}

/*# sourceMappingURL=third-placement.css.map */
