@use './variables.scss' as *;
@use './global.scss' as *;

.main_placement_4 {
    grid-row: inherit;
}

.one_column_layout_row {
    z-index: 1;
    @include layoutBackground;

    @media (max-width: 600px) {
        height: 100%;
    }

    div {
        .three_static_card_dark {
            max-width: calc(var(--app-container-width) + 40px);
            padding: 0 20px;
            margin: 20px auto;

            .card_long_text {
                font-family: Helvetica;
                font-size: 24px;
                margin-bottom: 16px;

                @media (max-width: 820px) {
                    margin-bottom: 16px;
                    color: #000;
                    font-size: 16px;
                }

                @media (max-width: 820px) {
                    font-family: Helvetica;
                }

                p {
                    font-weight: 500;

                    @media (max-width: 820px) {
                        font-weight: 300;
                    }
                }
            }

            .three_card_main {
                display: grid;
                grid-template-columns: repeat(auto-fit,
                        minmax(var(--grid-card-width), 1fr));
                grid-gap: var(--grid-card-gap);
                gap: var(--grid-card-gap);

                @media (max-width: 820px) {
                    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
                }

                .card {
                    transition: all 0.5s ease-in-out 0s;
                    opacity: 1;
                    transform: translateY(0px);
                }

                .static_dark_card:not(:last-of-type) {
                    margin-right: 16px;
                }

                .dark_card_brown {
                    background-color: #7f4006;
                }

                .static_dark_card::before {
                    content: "";
                    height: 1px;
                    max-width: 50px;
                    width: 100%;
                    background-color: #fff;
                    margin-bottom: 40px;
                }

                .static_dark_card::after {
                    content: "";
                    height: 1px;
                    max-width: 50px;
                    width: 100%;
                    background-color: #fff;
                    margin-top: 40px;
                }

                .static_dark_card {
                    width: 100%;
                    min-height: 400px;
                    // background-color: var(--app-color-dark-grey);
                    color: #fff;
                    text-align: center;
                    position: relative;
                    padding: 20px 35px;
                    display: -webkit-flex;
                    display: -moz-box;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    @media (max-width: 820px) {
                        margin-right: 0;
                    }

                    div {
                        .static_card_header {
                            font-size: 80px;
                            font-family: Agrandir-Regular;
                            font-weight: 300;

                            @media (max-width: 820px) {
                                font-size: 51px;
                            }
                        }

                        .static_dark_content {
                            font-size: 24px;
                            font-family: Helvetica;
                            max-width: 315px;
                            margin: auto;

                            @media (max-width: 820px) {
                                font-size: 18px;
                            }

                            div {
                                p {
                                    font-weight: 300;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}