@use './variables.scss' as *;
@use './global.scss' as *;

.main-placement-9 {
    grid-row: inherit;
}

.one-column-layout-row {
    z-index: 1;
    @include layoutBackground;

    div {
        .disclaimer {
            max-width: var(--app-container-width);
            font-size: 10px;
            line-height: 2;
            margin: auto;
            padding: 20px 20px 40px;

            span {
                div {
                    p {
                        font-weight: 300;
                    }
                }
            }
        }
    }
}