@use './variables.scss' as *;

.main_placement_10 {
    grid-row: inherit;
}

.one_column_layout_row {
    z-index: 1;
    @include layoutBackground;

    div {
        .back_to_top {
            width: 100%;
            text-transform: uppercase;
            background-color: #fff;

            .back_to_top_wrapper {
                width: calc(100% - 40px);
                max-width: 1440px;
                margin: auto;
                padding: 7px 0;

                .back_to_top_action {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    cursor: pointer;
                    user-select: none;
                    width: fit-content;

                    .back_to_top_arrow_up {
                        stroke-width: 1;
                        margin-right: 10px;
                        display: flex;
                        align-items: center;
                    }

                    .back_to_top_label {
                        font-size: 14px;
                        line-height: 1.2;
                    }

                    p {
                        font-weight: 300;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}