@use './variables.scss' as *;
@use './global.scss' as *;

.main_placement_7 {
    grid-row: inherit;
}

.one_column_layout_row {
    z-index: 1;
    @include layoutBackground;

    div {
        .placement_7_title {
            text-transform: uppercase;
            font-family: Agrandir-Regular;
            font-weight: normal;
            font-size: 28px;
            margin: 20px auto 30px;
            width: fit-content;
            text-align: center;
        }

        .three_column_icon {
            width: 100%;
            max-width: var(--app-container-width);
            margin: auto;
            padding: 68px 24px;
            display: flex;
            background-color: #fff;
            transform: translateY(-20px);

            .column_item {
                transition: all 0.75s ease-in-out 0s;
                opacity: 1;
                transform: translateY(0px);
            }

            .three_column_item {
                text-align: center;
                flex-basis: 0;
                flex-grow: 1;

                .item_icon {
                    max-width: 120px;
                    max-height: 120px;
                    margin: 0 auto 23px;
                    padding: 20px;
                    border-radius: 50%;
                    background-color: #f3f4f4;

                    .icon_wrapper {
                        display: inline-block;
                        max-width: 100%;
                        overflow: hidden;
                        position: relative;
                        box-sizing: border-box;
                        margin: 0px;

                        .empty_image_wrapper {
                            box-sizing: border-box;
                            display: block;
                            max-width: 100%;

                            .empty_image {
                                max-width: 100%;
                                display: block;
                                margin: 0px;
                                border: none;
                                padding: 0px;
                            }

                            img {
                                max-width: 100%;
                                display: block;
                            }
                        }

                        .protection_image {
                            position: absolute;
                            inset: 0px;
                            box-sizing: border-box;
                            padding: 0px;
                            border: none;
                            margin: auto;
                            display: block;
                            width: 0px;
                            height: 0px;
                            min-width: 100%;
                            max-width: 100%;
                            min-height: 100%;
                            max-height: 100%;
                            object-fit: contain;
                        }

                        img {
                            max-width: 100%;
                            display: block;
                        }
                    }
                }

                .three_column_item_title {
                    text-transform: uppercase;
                    margin-bottom: 16px;
                    font-size: 22px;
                }

                h3 {
                    font-family: Agrandir-Regular;
                    line-height: 1.2;
                    font-weight: 400;
                }

                .three_column_icon_message {
                    font-size: 16px;
                    line-height: 20px;

                    div {
                        p {
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
}