@use './variables.scss' as *;
@use './global.scss' as *;

.main_placement_6 {
    grid-row: inherit;
}

.one_column_layout_row {
    z-index: 1;
    @include layoutBackground;

    div {
        .two_column_drive_banner {
            width: 100%;
            height: 100%;
            padding: 0 20px;
            margin-top: 80px;
            margin-bottom: 50px;

            .column_drive_container {
                width: 100%;
                max-width: 1440px;
                margin: 0 auto;

                .column_drive_title {
                    font-family: Agrandir-Regular;
                    font-size: 28px;
                    font-weight: 400;
                    color: #1c1c1c;
                    line-height: 32px;
                    text-align: center;
                }

                .column_drive_subTitle {
                    font-family: Helvetica;
                    font-size: 20px;
                    font-weight: 400;
                    letter-spacing: -.1px;
                    line-height: 28px;
                    color: #1c1c1c;
                    text-align: center;
                }

                .column_drive_grid {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-column-gap: 16px;
                    grid-gap: 16px;
                    margin-top: 40px;

                    div {
                        .column_drive_box {
                            height: 242px;
                            position: relative;
                            overflow: hidden;
                            background: #fff;

                            .three_lens {
                                height: 242px;
                                width: 242px;
                                margin: 0 auto;
                            }

                            img {
                                max-width: 100%;
                                display: block;
                            }
                        }

                        .column_drive_text {
                            text-align: left;

                            h2 {
                                text-transform: uppercase;
                                font-family: Agrandir-Regular;
                                font-size: 28px;
                                font-weight: 400;
                                line-height: 32px;
                                color: #1c1c1c;
                                margin-top: 29px;
                            }

                            h3 {
                                margin-top: 16px;
                                font-family: Helvetica;
                                font-size: 16px;
                                font-weight: 400;
                                letter-spacing: -.08px;
                                line-height: 22px;
                                color: #1c1c1c;
                                padding-right: 5px;
                                position: relative;
                                max-width: 610px;
                                min-width: 610px;

                                div {
                                    p {
                                        font-weight: 300;
                                    }
                                }

                                .default_image {
                                    position: absolute;
                                    bottom: -12px;
                                    right: 200px;
                                }

                                img {
                                    max-width: 100%;
                                    display: block;
                                }
                            }
                        }
                    }

                    div {
                        .column_drive_box {
                            height: 242px;
                            position: relative;
                            overflow: hidden;
                            background: #fff;

                            .sun_glass {
                                height: 365px;
                                width: 360px;
                                object-fit: none;
                                margin: 0 auto;
                            }

                            img {
                                max-width: 100%;
                                display: block;
                            }
                        }

                        .column_drive_text {
                            text-align: left;

                            h2 {
                                text-transform: uppercase;
                                font-family: Agrandir-Regular;
                                font-size: 28px;
                                font-weight: 400;
                                line-height: 32px;
                                color: #1c1c1c;
                                margin-top: 29px;
                            }

                            h3 {
                                margin-top: 16px;
                                font-family: Helvetica;
                                font-size: 16px;
                                font-weight: 400;
                                letter-spacing: -.08px;
                                line-height: 22px;
                                color: #1c1c1c;
                                padding-right: 5px;
                                position: relative;
                                max-width: 610px;
                                min-width: 610px;

                                div {
                                    p {
                                        font-weight: 300;
                                    }
                                }

                                .default_image {
                                    position: absolute;
                                    bottom: -12px;
                                    right: 200px;
                                }

                                img {
                                    max-width: 100%;
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}