@use './variables.scss' as *;
@use './global.scss' as *;

.main-placement-8 {
    grid-row: inherit;
}

.one-column-layout-row {
    z-index: 1;
    @include layoutBackground;

    div {
        div {
            .FAQ-container {
                background-color: #fff;
                width: 100%;
                max-width: var(--app-container-width, 1440px);
                margin: 0 auto 20px;
                padding: 40px;

                .FAQ-content {
                    width: 100%;
                    max-width: 1000px;
                    margin: 0 auto;

                    .FAQ-title {
                        font-family: Helvetica;
                        font-weight: 400;
                        margin-bottom: 28px;
                        font-size: 24px;
                    }

                    .accordion-main {
                        margin-bottom: 39px;
                        width: 100%;
                        position: relative;
                        cursor: pointer;
                        overflow: hidden;

                        .accordion-fullWidth {
                            max-width: 100%;

                            .accordion-content-wrapper {
                                border-bottom: 1px solid var(--app-color-dark-grey);
                                transition: all .4s ease-in-out 0s;
                                margin-top: 5px;

                                .accordion-header {
                                    font-size: 20px;
                                    user-select: none;
                                    padding: 0px 15px;
                                    position: relative;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    right: 0px;
                                    color: #000;

                                    p {
                                        padding-right: 1rem;
                                        color: #000;
                                        line-height: 1.2;
                                        font-weight: 300;
                                    }

                                    .accordion-icon {
                                        position: relative;
                                        min-width: 12px;
                                        min-height: 12px;

                                        .accordion-one {
                                            width: 12px;
                                            height: 1px;
                                            top: 50%;
                                            transform: translateY(-50%);
                                        }

                                        .accordion-line {
                                            background-color: var(--app-color-dark-grey);
                                            position: absolute;
                                            transition: transform .25s ease-in-out;
                                        }

                                        .accordion-two {
                                            width: 1px;
                                            height: 12px;
                                            left: 50%;
                                            transform: translateX(-50%);
                                        }
                                    }
                                }

                                .accordion-collapse-style {
                                    height: 0px;
                                }

                                .accordion-hide {
                                    opacity: 0;
                                    user-select: none;
                                    margin-top: 9px;
                                }

                                .accordion-collapse {
                                    font-size: 16px;
                                    padding: 0 15px;
                                    margin: 20px 0px 5px;
                                    transition: all .3s cubic-bezier(.25, .46, .45, .94);

                                    div {
                                        div {

                                            p {
                                                line-height: 1.2;
                                                font-weight: 300;

                                                &::before {
                                                    margin-bottom: calc(-0.1875em + 2px);
                                                    content: "";
                                                    display: block;
                                                    height: 0px;
                                                    width: 0px;
                                                }

                                                &::after {
                                                    margin-top: calc(-0.25em + -2px);
                                                    content: "";
                                                    display: block;
                                                    height: 0px;
                                                    width: 0px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}