@use './custom';
@use './placement-one.module.scss';
@use './placement-two.module.scss';
@use './placement-three.module.scss';
@use './placement-four.module.scss';
@use './placement-five.module.scss';
@use './placement-six.module.scss';
@use './placement-seven.module.scss';
@use './placement-eight.module.scss';
@use './placement-nine.module.scss';
@use './placement-ten.module.scss';

.one_column_layout {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content;
    grid-auto-rows: max-content;
    width: 100%;
    margin: 0 auto;
}