@use './custom';
@use './placement-one.module';
@use './placement-two.module';
@use './placement-three.module';
@use './placement-four.module';
@use './placement-five.module';
@use './placement-six.module';
@use './placement-seven.module';
@use './placement-eight.module';
@use './placement-nine.module';
@use './placement-ten.module';

.one_column_layout {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content;
    grid-auto-rows: max-content;
    width: 100%;
    margin: 0 auto;
}